<%- include ("header"); %>
<body>
  <div class="logo-and-input">
    <img id="logo" src="cec.png" alt="Background Image" />

    <form action="/" method="POST" class="login-form">
      <input
        type="email"
        placeholder="Email"
        required
        name="userInput"
        class="user-input"
      />
      <button type="submit" class="login-btn">Log In</button>
    </form>
  </div>

  <div class="container">
    <iframe
      loading="lazy"
      style="border: none"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFCeAIRgEY&#x2F;watch?embed"
      allowfullscreen="allowfullscreen"
    >
    </iframe>
  </div>
</body>
