<%- include ("header"); %>
<body>
  <div class="cover">
    <div class="success-text">
      <h1>Congratulations!</h1>
      <p id="checkmark">✅</p>
      <p style="font-size: 1.5rem">
        Thank you from your friends at CEC ! <br /><br />You will receive a
        email confirmation for your curated onboarding package.
      </p>
    </div>
  </div>
</body>
<script src="script.js" type="module"></script>
